---
id: home
title: Code Space
layout: default
---

<section class="intro">
  <div class="inner grid">
    <h1>
      Code Space helps students at
      <a href="https://www.sintlucasantwerpen.be/" target="_blank">Sint Lucas Antwerp</a>
      with their questions about the digital medium.
    </h1>

    <p>
      <strong>Questions like:</strong>
    </p>
    <ul>
      <li>How do I make a portfolio website?</li>
      <li>How do I make an installaction that reacts to sound?</li>
      <li>How do I make an interactive world in virtual reality?</li>
    </ul>
    <p>Code Space can support you in many domains:</p>
    <ul>
      <li><strong>VR</strong>: 3D painting, 360 video serious games</li>
      <li><strong>Digital fabrication</strong>: laser cutting, 3D printing</li>
      <li><strong>Physical computing</strong>: drawing robots, IOT</li>
      <li><strong>Web</strong>: interactive media, portfolio</li>
      <li>
        <strong>AI</strong>: image classification, text generation, image
        generation
      </li>
    </ul>
    <p>
      Are you a bachelor or (pre)master student at Sint Lucas? We can help you
      with the whole process: from helping you figure out what's possible and
      attainable to the technical implementation, to the final presentation.
    </p>
    <p>
      <strong>We're generally around on Wednesday in K.03.07. Make an appointment if you want to be sure of your
        spot:</strong>
    </p>
    <div class="cta">
      <a href="/reservations" class="cta__primary">Make a reservation</a>
    </div>
  </div>
</section>

<!-- prettier-ignore -->
<section class="workshops light-on-dark">
  <div class="inner grid">
    <h1>Workshops</h1>

    <h2>2022-2023</h2>
    <div class="responsive-table">
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Title</th>
            <th>Location</th>
            <th>Summary</th>
            <th>Video</th>
          </tr>
        </thead>
        <tbody>
          {% assign filtered_workshops = site.workshops | where:"academic_year","22-23" %}
          {% for workshop in filtered_workshops %}
          {% if workshop.done %}<tr class="workshop-done">{% else %}
          <tr>{% endif %}
            <td>{{ workshop.workshop_date | date_to_string }}</td>
            <td>{{ workshop.workshop_time }}</td>
            <td><a href="{{ workshop.url }}">{{ workshop.title }}</a></td>
            <td>{{ workshop.room }}</td>
            <td>{{ workshop.summary }}</td>
            <td style="
                min-width: 50px;
                padding: 0.2rem 0.5rem;
                text-align: center;
              ">
              {% if workshop.youtube_url %}<a href="{{ workshop.youtube_url }}" target="_blank"><img
                  src="/media/img/youtube.svg" width="20" height="20" style="filter: invert()" /></a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <h2>2021-2022</h2>
    <div class="responsive-table">
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Title</th>
            <th>Location</th>
            <th>Summary</th>
            <th>Video</th>
          </tr>
        </thead>
        <tbody>
          {% assign filtered_workshops = site.workshops | where:"academic_year","21-22" %}
          {% for workshop in filtered_workshops %}
          {% if workshop.done %}<tr class="workshop-done">{% else %}
          <tr>{% endif %}
            <td>{{ workshop.workshop_date | date_to_string }}</td>
            <td>{{ workshop.workshop_time }}</td>
            <td><a href="{{ workshop.url }}">{{ workshop.title }}</a></td>
            <td>{{ workshop.room }}</td>
            <td>{{ workshop.summary }}</td>
            <td style="
                min-width: 50px;
                padding: 0.2rem 0.5rem;
                text-align: center;
              ">
              {% if workshop.youtube_url %}<a href="{{ workshop.youtube_url }}" target="_blank"><img
                  src="/media/img/youtube.svg" width="20" height="20" style="filter: invert()" /></a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <h2>2020-2021</h2>
    <div class="responsive-table">
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Title</th>
            <th>Location</th>
            <th>Summary</th>
            <th>Video</th>
          </tr>
        </thead>
        <tbody>
          {% assign workshops_20_21 = site.workshops | where:"academic_year","20-21" %}
          {% for workshop in workshops_20_21 %}
          {% if workshop.done %}<tr class="workshop-done">{% else %}
          <tr>{% endif %}
            <td>{{ workshop.workshop_date | date_to_string }}</td>
            <td>{{ workshop.workshop_time }}</td>
            <td><a href="{{ workshop.url }}">{{ workshop.title }}</a></td>
            <td>{{ workshop.room }}</td>
            <td>{{ workshop.summary }}</td>
            <td style="
                min-width: 50px;
                padding: 0.2rem 0.5rem;
                text-align: center;
              ">
              {% if workshop.youtube_url %}<a href="{{ workshop.youtube_url }}" target="_blank"><img
                  src="/media/img/youtube.svg" width="20" height="20" style="filter: invert()" /></a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>

<section class="guides">
  <div class="inner grid">
    <h1>Guides</h1>
    <div class="thumb-list">
      {% for post in site.posts %}
      <div class="thumb post">
        <a href="{{ post.url }}">
          <!-- <img src="/media{{ post.id }}/{{post.bigshot}}" title="{{ post.title }}" class="img img-responsive"> -->
          <p class="caption">{{ post.title }}</p>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>