---
layout: default
---
<section class="guide-page">
  <div class="inner">
    <h1 class="text-H">{{ title }}</h1>
    {% if subtitle %}
    <p class="text-h">{{ subtitle }}</p>
    {% endif %}
    <div class="guide-content">
      {{ content }}
    </div>
  </div>
</section>
