---
layout: default
---
<section class="post">
  <div class="inner">
    <h1>{{ title }}</h1>
    <p class="meta">{{ page.date | date:"%Y-%m-%d" }}</p>
    <div class="post">
      {{ content }}
    </div>
  </div>
</section>
