<div class="section-header">
  {% render "tech-line.liquid", class: "tech-line--from-left", mirrored: mirrored, full_bleed: true %}
  {% if subheading %}
  <p class="section-header__text text-p">{{ subheading }}</p>
  {% endif %}
</div>
