<div class="tech-line{% if class %} {{ class }}{% endif %}{% if mirrored %} tech-line--mirrored{% endif %}{% if full_bleed %} tech-line--full-bleed{% endif %}">
  <svg viewBox="0 0 1000 50" preserveAspectRatio="none" height="50">
    <line x1="0" y1="48" x2="525" y2="48" />
    <line x1="525" y1="48" x2="555" y2="2" />
    <line x1="555" y1="2" x2="1000" y2="2" />
  </svg>
</div>
