<div class="tech-line{% if class %} {{ class }}{% endif %}{% if mirrored %} tech-line--mirrored{% endif %}">
  <svg viewBox="0 0 1000 50" preserveAspectRatio="none" height="50">
    <line x1="0" y1="48" x2="600" y2="48" />
    <line x1="600" y1="48" x2="630" y2="2" />
    <line x1="630" y1="2" x2="1000" y2="2" />
  </svg>
</div>
