<div class="tech-line{% if class %} {{ class }}{% endif %}">
  <svg viewBox="0 0 1000 20" preserveAspectRatio="none" height="20">
    <line x1="0" y1="18" x2="600" y2="18" />
    <line x1="600" y1="18" x2="618" y2="2" />
    <line x1="618" y1="2" x2="1000" y2="2" />
  </svg>
</div>
