/********** GLOBAL **********/

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

html {
	font-family: sans-serif;
	line-height: 1.55;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Oxygen, Ubuntu, Cantarell, 'Open Sans', Arial,
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	font-size: 0.9rem;
	font-weight: 400;
	background: #1f1f20;
	color: #4d4e53;
	text-align: left;
	overflow-x: hidden;
}

h1,
h2,
h3,
code,
.header__title,
.form__button {
	font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

h1 {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.5;
	color: #467bfa;
}

main {
	background: #eee;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.two-column {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 2rem;
}

.responsive-table {
	overflow-x: auto;
}

.responsive-table table {
	width: 100%;
}

.embed-responsive {
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;
}

.embed-responsive-16by9 {
	padding-bottom: 56.25%;
}

.embed-responsive-item {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

/********** HEADER **********/

.header {
	background: #467bfa;
	color: white;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__title {
	font-size: 2rem;
}

.header__title a {
	color: inherit;
	text-decoration: none;
}

.header__nav {
}

.header__nav a {
	line-height: 2em;
	color: inherit;
	font-size: 0.9rem;
	text-decoration: none;
	padding: 0 0.5rem;
}

.header__nav a:hover {
	opacity: 0.5;
}

@media screen and (max-width: 550px) {
	.header {
		padding: 5px 15px;
	}

	.header__title {
		font-size: 1.5rem;
		padding: 0.5rem 0;
	}

	.header__nav {
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		background: #2f52a3;
		width: 85vw;
		height: 100vh;
		padding: 10px 20px;
		transform: translate(100%, 0);
		transition: 0.3s;
	}

	.header__nav a {
		display: block;
		font-size: 2rem;
	}

	.header--open .header__nav {
		transform: translate(0, 0);
	}

	.header__hamburger {
		display: block;
		width: 36px;
		height: 28px;
		/*transform: translate(-50%, -50%);*/
		z-index: 999;
	}

	.header__hamburger:before,
	.header__hamburger:after {
		background-color: #fff;
		content: '';
		display: block;
		height: 4px;
		transition: all 200ms ease-in-out;
	}

	.header__hamburger:before {
		box-shadow: 0 10px 0 #fff;
		margin-bottom: 16px;
	}
	.header__hamburger:hover:before {
		box-shadow: 0 0 0 #fff;
		transform: translateY(10px) rotate(45deg);
	}
	.header__hamburger:hover:after {
		transform: translateY(-10px) rotate(-45deg);
	}
}

@media screen and (min-width: 550px) {
	.header {
		display: flex;
		align-items: center;
		padding: 1rem 1rem;
	}

	.header__hamburger {
		display: none;
	}

	.header__nav {
		flex: 1;
		text-align: right;
	}
}

/********** SECTION **********/

section .inner {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto 0;
	padding: 20px 20px 20px;
}

section.intro {
	background: url(../img/pattern_10.svg) repeat;
	background-size: 15em;
}

section.intro h1 {
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
}

section.thanks {
	padding: 50px 0;
	background: #d6d3f1 url(../img/pattern_74.svg) repeat;
}

.light-on-dark {
	background: #28293f;
	color: #eee;
}

.light-on-dark input[type='text'],
.light-on-dark input[type='email'],
.light-on-dark textarea {
	color: #eee;
	font-family: 'Roboto Mono', Helvetica, sans-serif;
}

.light-on-dark .mdl-textfield__input {
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.light-on-dark a {
	color: #eee;
}

/********** FORM **********/

.form__row {
	padding: 1rem 0 0.5rem 0;
}

.form__label {
	display: block;
	margin-bottom: 0.2rem;
}

.form__help {
	display: block;
	margin-bottom: 10px;
	font-size: 0.7rem;
	color: #999;
}

.form__field {
	border: none !important;
	border-bottom: 1px solid #fff !important;
	width: 100%;
	font-size: 16px;
	font-family: 'Roboto Mono', Helvetica, sans-serif;
	margin: 0;
	margin-top: 0.5rem;
	padding: 4px 10px;
	outline: 0 !important;
	background: rgba(0, 0, 0, 0.05);
	border-radius: 3px !important;
}

.form__field::-webkit-input-placeholder {
	color: #aaa;
}

.form__select {
	color: #fff !important;
	padding: 6px 10px;
	line-height: 2em;
	font-family: 'Roboto Mono', Helvetica, sans-serif;
	font-size: 16px;
	background: transparent;
	outline: 0 !important;
}

.form__button {
	border: none !important;
	font-size: 16px;
	background: #467bfa;
	border-radius: 2px;
	padding: 8px 15px;
	outline: 0 !important;
	color: #fff;
}

.form__button:hover {
	background: #628ff8;
}

.form__errors {
	padding: 10px 20px;
	background: red;
	color: white;
}

.form__errors li {
	padding: 5px 10px;
	list-style-position: inside;
}

/********** TABLE **********/

table {
	border-collapse: collapse;
	margin: 20px auto;
	font-size: 0.9rem;
}

table th,
td {
	padding: 0.5rem 1rem;
}

table th {
	text-align: left;
	/* background: #41495a; */
	color: rgba(255, 255, 255, 0.7);
	border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

table td {
	white-space: nowrap;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

table tr:last-child td {
	border-bottom: none;
}

table small {
	color: #999;
}

.workshop-done {
	opacity: 0.6;
}

.workshop-youtube-icon {
	min-width: 50px;
	padding: 0.2rem 0.5rem;
	text-align: center;
}

/********** ARTICLE **********/

.page-header {
	max-width: 800px;
	margin: 0 auto;
	padding: 0.1rem 1rem;
}

.page {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 1rem 2rem 1rem;
}

.guides__list li {
	margin-bottom: 1em;
}

.article__header {
	background: #b0b2f8 url(../img/pattern_62.svg) repeat;
	background-size: 10em;
}
.post h1 {
	margin: 0.5rem 0 1rem 0;
}

.post video {
	max-width: 100%;
}

.meta {
	font-size: 0.8rem;
	color: #666;
}

.full-width {
	width: 100vw;
	margin-left: calc(-50vw + 50%);
	margin-right: calc(-50vw + 50%);
}

/********** RESERVATIONS **********/

.interests {
	list-style-position: inside;
	padding: 0;
	margin: 0;
	margin-top: -10px;
}

.appointment-feedback {
	max-width: 800px;
}

.appointment-feedback label {
	display: block;
	margin-bottom: 0rem;
	font-weight: bold;
}

.appointment-feedback input,
.appointment-feedback select,
.appointment-feedback textarea {
	font-family: inherit;
	font-size: 16px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

/* Style for text input */
.appointment-feedback input[type='text'] {
	width: 100%;
	max-width: 400px; /* Set the maximum width for the text input */
}

textarea {
	resize: vertical;
	min-height: 100px;
}

/* Style the submit button */
.appointment-feedback button[type='submit'] {
	font-family: inherit;
	font-size: 16px;
	background-color: #4caf50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.appointment-feedback button[type='submit']:hover {
	background-color: #45a049;
}

/********** INDEX **********/

.cta {
	padding: 1.5rem 1rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, 200px);
	grid-gap: 20px;
	justify-content: center;
	text-align: center;
}

.cta__primary {
	color: white;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
	border: none;
	text-decoration: none;
	border-radius: 0.3rem;
	display: inline-block;
	position: relative;
	white-space: nowrap;
	background-color: #467bfa;
	padding: 10px 35px;
	box-shadow: inset 0 0 0 2px #04a7eb;
	cursor: pointer;
	transition: all 0.3s;
}

.cta__primary:hover {
	background-color: #45c6fc;
	box-shadow: inset 0 0 0 1px #2cbefb;
}

.cta__primary:active {
	background-color: #0387be;
}

/********** FOOTER **********/

footer {
	background: #1f1f20;
	color: #eee;
	padding: 30px 40px;
	font-size: 10px;
}

footer a {
	color: #eee;
}

.footer__left {
	margin-bottom: 1rem;
}

@media screen and (min-width: 550px) {
	footer {
		display: flex;
	}

	.footer__left {
		flex: 1;
		text-align: left;
	}

	.footer__right {
		flex: 1;
		text-align: right;
	}
}

hr {
	border: none;
	border-bottom: 1px solid #aaa;
}
