<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }} | Code Space</title>
    <meta name="author" content="Frederik De Bleser" />
    <link
      rel="stylesheet"
      href="/media/css/main.css?{{site.time | date: '%s%N'}}"
    />
    <link
      rel="stylesheet"
      href="/media/css/syntax.css?{{site.time | date: '%s%N'}}"
    />
  </head>
  <body id="{{ page.id }}">
    {{ content }}
  </body>
</html>
