---
layout: default
---

<div class="page-header">
  <h1>{{ page.title }}</h1>
  <h3>Workshop — {{ page.workshop_date | date_to_string }}</h3>
  <p><strong>Room: {{ page.room }} — 9:30 – 13:00</strong></p>
</div>
<div class="page">
  {{ content }}

  <h1>Reservation</h1>
  <p>
    To ensure enough room for every student, we ask that you reserve your spot
    in the workshop by registering.<br />Email frederik.debleser@kdg.be if you
    want to change your reservation.
  </p>
  <form name="workshops" method="POST" data-netlify="true">
    <div class="form__row">
      <label
        ><span class="form__label">Name</span
        ><input class="form__field" type="text" name="name" required
      /></label>
    </div>
    <div class="form__row">
      <label
        ><span class="form__label">KdG Email Address</span
        ><input class="form__field" type="email" name="email" required
      /></label>
    </div>
    <input type="hidden" name="workshop" value="{{ page.title }}" />
    <div class="form__row">
      <label
        ><span class="form__label">Remarks</span
        ><span class="form__help">E.g. special needs, ...</span
        ><textarea class="form__field" name="question"></textarea>
      </label>
    </div>
    <div class="form__row">
      <button class="form__button" type="submit">Make a reservation</button>
    </div>
  </form>
</div>
